@model IEnumerable<UserCommentViewModel>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>User's email</th>
            <th>Comment</th>
            <th>Page Name</th>
            <th>Created date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var actionType = item.IsDeleted ? EpiserverCms.Web.Models.Constant.ActionTypes.Restore : EpiserverCms.Web.Models.Constant.ActionTypes.Deleted;
            var clssClass= item.IsDeleted ? "warning" : "danger";
            var btnName = item.IsDeleted ? "Restore" : "Delete";
            <tr>
                <td>@item.UserEmail</td>
                <td>@item.CommentBody</td>
                <td>@item.PageName</td>
                <td>@item.CreatedDate</td>
                <td>
                    <button class="btn btn-small btn-@clssClass btn-action" data-actiontype="@actionType" data-id="@item.Id.ExternalId">@btnName</button>
                </td>
            </tr>
        }
    </tbody>
</table>
