@using EpiserverCms.Web.Models.Constant
@model PluginCommentViewModel
@{
    Layout = "~/Views/Shared/Layouts/_Plugin.cshtml";
    ViewBag.Title = "Manager user comments";
}

<div class="hide" id="centered">
    <p>Successfully</p>
</div>

<div class="row">
    <div class="span12 heading-top-comment">
        <h2>
            Manage comment
        </h2>
        <hr class="break-comment" />
    </div>
</div>

<div class="row margin-bottom-0">
    @Html.HiddenFor(x => x.SelectedPagedId)
    @Html.Hidden("hdnUrlGetData", Url.Action("LoadComment"))
    @Html.Hidden("hdnUrlUpdateComment", Url.Action("UpdateComment"))
    <div class="span2"></div>
    <div class="span10 margin-bottom-3">
        @*<input type="checkbox" id="chkDeletedComment" /><label for="chkDeletedComment"> Show deleted comment</label>*@

        <ul class="comment-search">
            <li><span class="search-text">Search </span></li>
            <li><a class="search-status" data-status="@CommentStatus.All">All</a></li>
            <li><a class="search-status active" data-status="@CommentStatus.Enable">Enable</a></li>
            <li><a class="search-status" data-status="@CommentStatus.Disable">Disable</a></li>
        </ul>

    </div>
</div>

<div class="row">
    <div class="span2">
        @Html.Partial("_ListPages", Model)
    </div>
    <div class="span10" id="listComment">
        @Html.Partial("_ListComment", Model.ListComment)
    </div>
</div>

<script language="javascript">
    $(function () {
        $(document).on("click", ".page-menu-link", onSelectedPage);
        $(document).on("click", ".btn-action", doAction);
        $(document).on("change", "#chkDeletedComment", loadComment);
        $(document).on("click", ".search-status", onChangeStatus);
    })

    function onSelectedPage(e) {
        var $btnMenu = $(e.currentTarget);
        var pageId = $btnMenu.data("pageid");
        $("li.plugin-comment-page-menu-item").removeClass("active");
        $("#SelectedPagedId").val(pageId);
        $btnMenu.parent().addClass("active");
        loadComment();
    }

    function onChangeStatus(e) {
        var $btn = $(e.currentTarget);
        $(".search-status").removeClass("active");
        $btn.addClass("active");
        loadComment();
    }

    function loadComment() {
        var urlGetData = $("#hdnUrlGetData").val();
        var status = $(".comment-search a.active").data("status");
        var pageId = $("#SelectedPagedId").val();

        $.get(urlGetData, { pageId, status }, function (result) {
            $("#listComment").html(result);
        });
    }

    function doAction(e) {
        var $actionBtn = $(e.currentTarget);
        var status = $actionBtn.data("actiontype");
        var confirmMsg = status == "Deleted" ? "Do you want to delete this comment?" : "Do you want to restore this comment?";

        if (confirm(confirmMsg)) {
            var commentId = $actionBtn.data("id");
            var urlUpdate = $("#hdnUrlUpdateComment").val();

            $.post(urlUpdate, { commentId, status }, function (result) {
                if (result.status === 'ok') {
                    $("#centered").fadeIn(100, "swing", function () { $("#centered").fadeOut(500, "swing") });
                    loadComment();
                }
                else if (result.status == 'error') {
                    alert("Comment not found ")
                }
            });
        }
    }

</script>
